* {
	box-sizing: border-box;
} 

body {
	font-size: 16px;
	color: #fff;
	background-color: #fff8dc;
	font-family: 'Oxygen', sans-serif;
}

/* Header Nac */ 
#header-nav {
  background-color: #f0e68c;
  border-radius: 0;
  border: 0;
} 

.navbar-brand {
  padding-top: 25px;
} 

.navbar-brand h1 {
  font-family: 'Lora', serif;
  display: block;
  color: #3f312b;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: -10px;
  margin-bottom: 0;
  /*margin-left: 0; */
  line-height: .75;
}  

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
} 

h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-style: italic;
} 

section {
    position: relative;
    padding: 15px;
    width: 90%;
}

p {
    position: relative;
    clear: right;
}

.colmn-lg-4 > div {
    position: relative;
    background-color: gray;
    border: 3.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
} 

.colmn-md-6 > div {
    position: relative;
    background-color: gray;
    border: 3.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; 
}

.colmn-sm-12 > div {
    position: relative;
    background-color: gray;
    border: 1.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: #ffffff; 
}

.sub1 {
    /*float: right; */
    width: 100px;
    padding: 5px;
    margin: -3px 170px 0;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    color: #6b8e23;
}

.sub2 {
   /* float: right; */
    color: #6b8e23;
    width: 100px;
    padding: 5px;
    margin: -3px 170px 0;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

.sub3 {
    /*float: right; */
    color: #6b8e23;
    width: 100px;
    padding: 5px;
    margin: -3px 170px 0;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

.content {
    padding: 5px;
    border: none;
    background-color: #ffffff;
    font-family: Helvetica;
    color: black;
    margin: 3px;
    height: 1000px;
    overflow: auto;
}

.row {
    width: 90%;
}

.top {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #6b8e23;
  border-radius: 100px;
}

/* Browser */ 
@media (min-width: 992px) {
    .colmn-lg-4 {
    float: left;
    width: 33.33%;
    }
}

/*tablet */ 
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
        }

    .colmn-md-12 {
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
        }
    } 

/*mobile */ 
@media (max-width: 767px) {
    .colmn-sm-12 {
    float: left;
    width: 100%;
        }
    } 
